.stat-card{

background:#fff;

border-radius:12px;

overflow:hidden;

box-shadow:0 4px 12px rgba(0,0,0,.08);

}

.card-top{

height:90px;

display:flex;

justify-content:center;

align-items:center;

color:#fff;

font-size:24px;

font-weight:bold;

}

.card-bottom{

padding:18px;

text-align:center;

}

.card-bottom h4{

font-size:18px;

font-weight:600;

color:#444;

}